<div class="author">
    <div class="row wrapper">
        <div class="col">
            <img [src]="'assets/images/author.jpg'" alt="Author"/>
        </div>
        <div class="col">
            <h2>Aleksandar Kovacevic 27/21</h2>
            <p>
                Hi , my name is Aleksandar and I am beginner in web development. I started coding a couple years ago , and I am constantly trying to improve my skills by doing some projects and learning new things.
            </p>
        </div>
    </div>
</div>